html {
    font-family: "Titillium Web", sans-serif;
  }

  body {
      background-image: linear-gradient(to right, steelblue, grey);
  }

.container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: whitesmoke;
    opacity: .8;
  }

  .card {
    border-radius: 15px 50px;
    text-align: center;
    border: grey solid 2px;
    padding: 20px;
    width: 200px;
    height: 175px;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 2px 3px skyblue;
    background-color: whitesmoke
  }

  .add-chore-form {
    width: 80%
  }


  .complete-btn {
    background-color: skyblue;
    border: none;
    color: white;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    height: auto;
 
  }

  