html {
    font-family: "Titillium Web", sans-serif;
  }

  body {
      background-image: linear-gradient(to right, steelblue, grey);
  }

.container {
    padding: 1rem;
    width: auto;
    height: auto;
    display: none;
    background: whitesmoke;
    opacity: .8;
  }

 #house-pop-up {
   padding: 1rem;
   width: auto;
   height: auto;
   display: none;
   background: whitesmoke;
   opacity: .8;
 } 

 .family-selector {
  padding: 1rem;
  width: auto;
  height: auto;
  display: none;
  background: whitesmoke;
  opacity: .8;
 }

  .card {
    border-radius: 15px 40px;
    text-align: center;
    border: grey solid 2px;
    padding: 20px;
    width: 200px;
    height: auto;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px skyblue;
    background-color: whitesmoke
  }

  .chore-status {
      font-size: larger
  }

  .add-chore-form {
    width: 80%
  }


  .complete-btn {
    background-color: skyblue;
    border-radius: 3px 8px;
    color: whitesmoke;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: auto;
    width: auto;
  }

  .reset-chore-button {
    background-color: #9494b8;
    border-radius: 3px 8px;
    color: whitesmoke;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: auto;
    width: auto;
        
    }

  .delete-chore-btn {
    background-color: lightsteelblue;
    border-radius: 3px 8px;
    color: whitesmoke;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: auto;
    width: auto;
  }

  