html {
    font-family: "Titillium Web", sans-serif;
  }

  body {
      background-image: linear-gradient(to right, steelblue, grey);
  }

.container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: whitesmoke;
    opacity: .8;
  }

  .card {
    text-align: center;
    border: grey solid 2px;
    padding: 2rem;
    width: 10rem;
    height: 10rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px skyblue;
    background-color: whitesmoke
  }

  .add-chore-form {
    width: 80%
  }

  